.fullScreenWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.fullScreenDim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000a;
  z-index: -1;
}

.dialog {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0;
  box-shadow: 1px 1px 4px $dim;
}
